<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Friends's Profile</title>
</head>
<!--<style>
.button {
    border: none;
    margin: auto;
    position: absolute;
    top: 24%;
    left: 44%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: believer;
    font-size: 150%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.buttonClickMe {
    background-color: pink;
    color: #9B664B;
    border: none;
}
.buttonClickMe:hover {
    background-color: pink;
    color: white;
}

</style>-->
<body>
  <img src= "https://image.ibb.co/km46ue/Algor_Wallpaper_06.png"
       alt= "revanpicprofile"
       width= "405" height= "405"
       style= "
       position: absolute;
       top: 37%;
       left: 18%;"/>
  <body style= "background-color: #6495ED;">
    <h1 style= "
              font-family: luna;
              font-size: 270%;
              color: white;
              line-height: 200px;">
              <center>Welcome to me & my friends's profile!</center></h1>
    <h2 style= "font-family: cookie;
                font-size: 400%;
                position: absolute;
                top: 45%;
                left: 50%;
                color: white;">
                Hello!</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 60%;
                left: 50%;
                border-left: 40%;
                color: white;">
                His name is {{ name1 }} ({{ npm1 }}).</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 65%;
                left: 50%;
                border-left: 40%;
                color: white;">
                He is a {{age1}} years old student. As a</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 70%;
                left: 50%;
                border-left: 40%;
                color: white;">
                computer science student at University of Indonesia,</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 75%;
                left: 50%;
                border-left: 40%;
                color: white;">
                Revan loves doing graphic design.</h2>

    <img src= "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41045848_2462782560414948_1570593910068084736_n.jpg?_nc_cat=0&oh=d057108855cdb9bd0a9ddd5eae38292e&oe=5BF54800"
         alt= "ayaspicprofile"
         width= "405" height= "405"
         style= "
         position: absolute;
         border-radius: 50%;
         top: 120%;
         left: 18%;"/>
    <h2 style= "font-family: cookie;
                font-size: 400%;
                position: absolute;
                top: 130%;
                left: 50%;
                color: white;">
                Hello!</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 145%;
                left: 50%;
                border-left: 40%;
                color: white;">
                His name is {{ name2 }} ({{ npm2 }}).</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 150%;
                left: 50%;
                border-left: 40%;
                color: white;">
                He is a {{age2}} years old computer science student</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 155%;
                left: 50%;
                border-left: 40%;
                color: white;">
                at University of Indonesia. He is a shy but a discipline</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 160%;
                left: 50%;
                border-left: 40%;
                color: white;">
                person. His hobby is sleeping.</h2>
  <img src= "https://scontent.fcgk11-1.fna.fbcdn.net/v/t1.0-9/41237131_2462275957132275_611344240458334208_n.jpg?_nc_cat=0&oh=b8a20d994d0920f63c2d8cbc27e7de2d&oe=5C28A601"
         alt= "nisrinouspicprofile"
         width= "405" height= "405"
         style= "
         position: absolute;
         border-radius: 50%;
         top: 210%;
         left: 18%;"/>
    <body style= "background-color:pink;">
      <h2 style= "font-family: cookie;
                  font-size: 400%;
                  position: absolute;
                  top: 210%;
                  left: 50%;
                  color: white;">
                  Hello!</h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 225%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  My name is {{ name3 }} ({{ npm3 }}).</h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 230%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  I am a 19 years old student who live in Depok. As a</h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 235%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  computer science student at University of Indonesia,</h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 240%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  my hobbies are not only coding and reading, but I also</h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 245%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  do swimming, listening to music, and crafting. </h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 250%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  My motto: </h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 255%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  "When no one believes in me, </h2>
      <h2 style= "font-family: handlee;
                  font-size: 130%;
                  position: absolute;
                  top: 260%;
                  left: 50%;
                  border-left: 40%;
                  color: white;">
                  I know I can always believe in myself"</h2>

</body>
</html>
